@import '../mixins/mixins';
@import '../var/variables';

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: $white;
    border-radius: 1.5rem;

    padding: 1.5rem 1.5rem 3rem 1.5rem;

    width: 40rem;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    @media screen and ($desktop){
        &{
            width: 20%;
        }
    }

    &__img{
        width: 100%;
        border-radius: 1rem;
    }

    &__title{
        color: #000;
        padding: 1.6rem;      
    }

    &__text{
        color: $grayish-blue;
        padding: 1.6rem;
    }
}